@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto: var(--font-noto);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #303030;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #353535;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto), serif;
}
