@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import "tailwindcss";

/* @plugin "@tailwindcss/typography"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color-50: #f2f8ff;
  --main-color-100: #e6f1ff;
  --main-color-200: #bddbfc;
  --main-color-300: #96c5fa;
  --main-color-400: #4a9bf7;
  --main-color-500: #0070f3;
  --main-color-600: #0066db;
  --main-color-700: #004491;
  --main-color-800: #00336e;
  --main-color-900: #00234a;
  --main-color-950: #001124;
}
.main-dark {
  background-color: var(--main-color-900);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto: var(--font-noto);
  --color-hight-contrast: #000000;
  --font-main: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #303030;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #353535;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-noto), serif; */
}
