/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

/* @plugin "@tailwindcss/typography"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  /* Tailwindのユーティリティを独自クラスにまとめる例 */
  .content-frame {
    @apply bg-sky-300;
  }
  .content-frame-in {
    @apply bg-sky-950;
  }
  .back-coler {
    @apply bg-gray-700/45;
  }
  .head-text-color {
    @apply text-white ;
  }
  .sub-text-color {
    @apply text-gray-300 ;
  }
  .main-text-color {
    @apply text-zinc-100 ;
  }

  .page-bg {
    @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto: var(--font-noto);
  --color-hight-contrast: #000000;
  --font-main: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;;
  --font-tokumin: "Kaisei Tokumin", serif;
  --font-mochiy: "Mochiy Pop One", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #303030;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #353535;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-noto), serif; */
}

main h3 {
  background-color: #3f3f3f;
  color:#ffffff !important;
  margin-bottom: 1rem;
  padding: 0.2rem 0.7rem;
  display: inline-block;
}
