/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

/* @plugin "@tailwindcss/typography"; */

:root {
  /* ブラウザのデフォルトテーマ設定に従う */
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --font-main: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;
  --font-tokumin: "Kaisei Tokumin", serif;
  --font-mochiy: "Mochiy Pop One", sans-serif;

  --color-theme-primary: #41592F;
  --color-theme-secondary: #758C65;
  --color-theme-dark: #252617;
  --color-theme-light: #F2F2F2;
  --color-theme-accent: #D9AA8F;

  --color-theme-content: #F2F2F2;
  --color-theme-light-text: #d6d6d6;
  --color-theme-dark-text: #302f2e;


}

@layer components {

  /* Tailwindのユーティリティを独自クラスにまとめる例 */
  .content-frame {
    @apply bg-theme-primary/75;
  }

  .content-frame-in {
    @apply bg-theme-dark/80;
  }

  .content-back {
    @apply bg-theme-content/90;
  }

  .content-in-back {
    @apply bg-theme-dark/50;
  }

  .back-color {
    @apply bg-theme-secondary/30;
  }

  .heaer-bg-color {
    @apply bg-theme-primary;
  }

  .footer-bg-color {
    @apply bg-theme-secondary;
  }

  .head-text-color {
    @apply text-stone-200;
  }

  .sub-text-color {
    @apply text-stone-300;
  }

  .main-text-color {
    @apply text-zinc-200;
  }
  .light-text-color {
    @apply text-theme-light-text;
  }
  .dark-text-color {
    @apply text-theme-dark-text;
  }

  .page-bg {
    @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100;
  }

.paper-background {
  background-color: #7b776bc6; /* 紙のベース色 */
  background-image: 
    linear-gradient(90deg, transparent 50%, rgba(0,0,0,0.05) 50%), /* ノイズ的な模様 */
    linear-gradient(rgba(0,0,0,0.05) 2px, transparent 2px); /* ほのかな繊維の質感 */
  background-size: 6px 6px; /* テクスチャの細かさ */
  box-shadow: 0 1px 3px rgba(0,0,0,0.3); /* 紙の立体感 */
}


}


@media (prefers-color-scheme: dark) {
  /* ブラウザのデフォルトテーマ設定に従う */
  :root {
    /* --background: #303030;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #353535;
  }
}

body {
  /* ブラウザのデフォルトテーマ設定に従う */
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-noto), serif; */
}

main h3 {
  background-color: #D9AA8F;
  color: #252617 !important;
  margin-bottom: 1rem;
  padding: 0.2rem 0.7rem;
  display: inline-block;
}
